.movie-card {
  max-width: 300px;
  margin: 15px;
  background-color: rgb(243, 245, 253);

}
mat-card img {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 60%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: 60%;
  margin: 0px;
  margin-left: 20px;
}

div.container {
  padding-left: 40px;
}

.mat-card-content {
  font-size: 14px;
  padding-left: 20px;
}

.mat-icon{
  height:20px !important;
  width:20px !important;
  font-size:22px !important;
}
.mat-icon-button {
  width: 20px;
}
