<div class="course">
  <mat-form-field>

    <input matInput placeholder="Search movies" #input>

  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">

    <mat-spinner></mat-spinner>

  </div>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="popularity"
    matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="title">

      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>

      <mat-cell *matCellDef="let movie">
        <span style="cursor:pointer;" (click)="navigate(movie.id)">
          {{movie.title}}</span>
        </mat-cell>

    </ng-container>
    <ng-container matColumnDef="image">

      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>

      <mat-cell *matCellDef="let movie" style="cursor:pointer;" (click)="navigate(movie.id)">
        <img *ngIf="movie.poster_path" src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' width='70px'>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="popularity">

      <mat-header-cell *matHeaderCellDef mat-sort-header>Popularity</mat-header-cell>

      <mat-cell class="description-cell" *matCellDef="let movie">{{movie.popularity}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="release_date">

      <mat-header-cell *matHeaderCellDef>release_date</mat-header-cell>

      <mat-cell class="duration-cell" *matCellDef="let movie">{{movie.release_date}}</mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>


  <mat-paginator [length]="1000" [pageSize]="20" [pageSizeOptions]="[20]"></mat-paginator>


</div>
