.search {
  margin-left: 6%;
}

.movie-container {
  position: relative;
  /* min-height: 200px; */
}

.movie-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

movie-table {
  width: 100%;
}

/* Column Widths */
.mat-column-title {
  max-width: 20%;
}

.mat-column-image {
  max-width: 12%;
}

.mat-column-popularity,
.mat-column-release_date {
  max-width: 8%;
}

/* .mat-column-overview {
  max-width: le reste;
} */

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
