<div *ngIf="movies" class="row" >
    <span>curr {{currentPage}}</span>
    <span>moviepage {{movies.page}}</span>
    <button [disabled]="currentPage == 1 || movies.total_pages == 0"
          type="button" class="btn btn-link col-md-offset-7 col-md-2"
          (click)="precedent()">Précédent</button>
    <button [disabled]="currentPage == movies.total_pages || movies.total_pages == 0"
          type="button" class="btn btn-link col-md-2" (click)="suivant()">Suivant</button>
  </div>
<ca-movie-list [movies]="movies"></ca-movie-list>
